<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="modal fade" id="modalGrupo" tabindex="-1" role="dialog"
		aria-labelledby="smallModal" aria-hidden="true" th:fragment="modal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Small Modal</h4>
				</div>
				<div class="modal-body">
					<ul id="lista" class="list-group">

					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>