<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>    
    <footer class="navbar  navbar-fixed-bottom  navbar-default   js-content" th:fragment="layout-footer">
        <div class="container-fluid">
            <span class="aw-footer-disclaimer">&copy; Agência Goiana de Regulação, Controle e Fiscalização de Serviços Públicos.</span>
        </div>
    </footer>
</body>
</html>